body{
  margin:0px!important;
  padding:0px!important;

}
.container-fluid, .row{
  margin: 0px!important;
  padding: 0px!important;
}


h6{
    color: #a2a7ad;
}
a{
  color: #a2a7ad;
}

a:hover{
  color: #d4d8dc;
}

.r-border-none{
  border-right: none!important;
}

.jumbotron {
margin-bottom: 0PX!important;

}

footer{
  color: #fff;
 background-color: #1c2331;
}

.social-footer{
  background-color: #09c;
}


/* head start */

.fa-volume-control-phone{

}
/* head ends */

.btn-primary{
  background-color: #09c!important;
  border-color: #09c!important;
}
.btn-primary:hover{
  background-color: #056d90!important;
}

.footer-copyright{
  color:  #a2a7ad;
  background-color: #161c27;
}

.contact-footer{
  color:  #a2a7ad;
}

.white-text{
  color: #fff !important;
}

.address-space{
  float: right;
}

.paralex{
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  /* The image used */

  background: url("../../assets/images/meltonparalex.jpg") no-repeat 0 100%;;

  width: 100%;
  /* Set a specific height */
  height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.deep-purple{
  color: #a2a7ad;
  background-color: #a2a7ad;
}

.cont-speciality{
  padding-top: 60px!important;
  padding-bottom: 60px!important;
}
.text-speciality{
  padding-bottom: 30px;
}
.text-heading-small{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  color: #414e5d;
}

.bg-grey{
  background-color: #e9ecef;
  padding: 20px 0 20 0 !important;
}

.nmc-text-color{
  color: #FE5A0E !important;
}
.nmc-bg-color{
  background-color: #FE5A0E !important;
}

.bg-black{
  background-color: #262626;
}
.title{
  color: #262626;
  font-weight: 600;
  font-size: 30px;
  font-family: 'Poppins', serif;
}
.title span{
  color: #FE5A0E;
  padding-right: 10px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-style: italic;
  background: -webkit-gradient(linear, left top, right top, from(#f80503), to(#ff7d09));
  background: linear-gradient(to right, #f80503 0%, #ff7d09 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-title{
  color: #262626;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Poppins', serif;
  margin-top:2rem
}

p{
  font-family: 'Rubik';
  font-size: 16px;
  line-height: 27px;
  color: #7E7E7E;
  text-align:justify;
  /* margin-top: 35px;
  margin-bottom: 30px; */
}
.mt-2rem{
  margin-top: 2rem;
}

.hvr-sweep-to-right{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.hvr-sweep-to-right:hover:before{
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.hvr-sweep-to-right:before{
  background: #262626;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: #2098D1; */
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
a:hover, a:visited, a:focus, a:active {
    text-decoration: none !important;
    outline: none !important;
}

/* Top Logo head */
.containe {
  width: 100%;
  height: 120px;
  overflow: hidden;
}
.section-one {
  width: 40%;
  float: left;
  height: 100%;
  background: #fff;
  position: relative;
  transform: skew(25deg);
  z-index: 1;
  transition: width 0.5s;
  text-align: right;
  padding-right: 20px;
}
.section-one:before {
 content: "";
 width: 40%;
 height: 100%;
 position: absolute;
 background: #fff;
 top: 0;
 left: 0;
 transform: skew(-25deg);
 z-index: -1;
}
.section-two {
  width: 60%;
  float: left;
  height: 100%;
  background: #270D31;
  transform: skew(25deg);
  position: relative;
  z-index: 1;
  transition: width 0.5s;

}
.section-two:after {
  content: "";
  width: 60%;
  height: 100%;
  position: absolute;
  background: #270D31;
  top: 0;
  right: 0;
  transform: skew(-25deg);
  z-index: -1;
}
.content {
  transform: skew(-25deg);
  color: #fff;
  height: 100%;
}
.section-two .row{
  height: 100%;
}
.section-two .col-md-4, .section-two .col-md-1{
  padding:0px;
}
.section-two .span1{
  color: #FE5A0E;
  font-size: 14px;
  letter-spacing: .01em;
  font-family: 'Rubik';
}
.section-two .span2{
  font-family: 'Poppins';
  font-weight: 600;
  letter-spacing: .01em;
  color: #ffffff;
  font-size: 18px;
}
.nav-contact-logo i{
  font-size: 30px;
  color: #fff;
  line-height: 1em;
  vertical-align: text-top;
}
.logo-mobile{
  display: none;
}
.logo-desktop{
  display: block;
}
@media screen and (max-width:470px) {
  .containe {
    height: 60px;
  }
  .logo-desktop{
    display: none;
  }
  .logo-mobile{
    display: block;
  }
  .logo-mobile img{
    height: 100%;
  }
  .top-contact-desctop{
    display: none;
  }
  .nav-contact-logo i{
    font-size: 15px;
    line-height: 1em;
  }
  .in-line{
    display: table-cell;
    padding-left: 10px;
  }
  .top-contact-mobile .nav-contact-logo .fa-phone, .top-contact-mobile .nav-contact-logo .fa-envelope{
    padding-top: 20px;
  }
  .section-two .top-contact-mobile .span1{
    font-size: 10px;
  }
  .section-two .span2{
    font-weight: 600;
    font-size: 14px;
  }
}
/* Top Logo head end*/

/* Navbar start */
.top-nav .navbar{
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}
.top-nav {
  width: 800px;
  right:10%;
  top: 95px;
  position: absolute;
  z-index: 1;
}
.top-nav{
  min-height: 60px;
  padding: 0px !important;
}
.top-nav .navbar{
  padding: 0px !important;
  min-height: 60px;
}
.top-nav .collapse, .top-nav .collapse ul, .top-nav .collapse ul li, .top-nav .collapse ul li a{
  min-height: 45px;
}
.top-nav .collapse ul li {
  padding-top: 15px;
}
.top-nav .navbar-nav .active{
  background-color: #FE5A0E;
}
.top-nav .navbar-nav .active a{
  color: #fff !important;
  font-weight: 600;
}
.top-nav a.nav-link{
  border-right: 0.5px solid #a2a7ad;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}
.top-nav .navbar .nav-link{
  padding:0px 20px 0px 20px !important;
  font-size: 18px!important;
  font-family: 'Poppins';
  color: rgba(0,0,0,.9) !important;
}
.top-nav .navbar-nav .quote{
  background-color: #FE5A0E;
}
.top-nav .navbar-nav .quote .nav-link{
  color: #fff !important;
}
.mob-nav{
  display:none;
}
@media screen and (max-width:470px) {
  .top-nav {
    display:none;
  }
  .mob-nav{
    display:block;
  }
  .mob-nav li{
    height: 45px;
    padding-left:10px;
  }
  .mob-nav .active{
    background-color: #FE5A0E;
  }
  .mob-nav .active .nav-link{
    color: #fff !important;
    font-weight: 600;
  }
  .mob-nav .navbar .nav-link{
    /* padding:0px 20px 0px 20px !important; */
    font-size: 16px!important;
    font-family: 'Poppins';
    color: rgba(0,0,0,.9);
  }
}
/* Navbar end */

/* Slider - Banner Start */
#carouselExampleIndicators img{
  height: 600px !important;
}
@media screen and (max-width:470px) {
  #carouselExampleIndicators img{
    height: 300px !important;
  }
}
/* Slider - Banner End */

/* Service Box Start */
@media (min-width: 1200px){
  .service-box2 {
      max-width: 1140px;
  }
}
.service-box2{
  margin-left: auto !important;
  margin-right: auto !important;
}
.service-box{
  top: 600px;
  position: absolute;
  z-index: 155;
  height:150px;
  width: 1100px;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

.service-box .image {
  opacity: 1;
  display: block;
  width: 250px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  height:250px;
}

.service-box .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.service-box .col-md-4:hover .image {
  opacity: 0.3;
}

.service-box .col-md-4:hover .middle {
  opacity: 1;
}

.service-box .text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

@media screen and (max-width: 470px) {
  #service_box{
    display: none !important;
  }
}
/* Service Box end */

/* About NMC home-page */
#about_nmc{
  margin-top:200px;
  margin-bottom: 50px;
}
#about_nmc h2:after {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 38px;
    height: 2px;
    background: #888888;
    margin-left: 15px;
    margin-top: 18px;
}
#about_nmc ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
#about_nmc ul li{
  font-family: 'Rubik';
  color: #7E7E7E;
  position: relative;
  padding-left: 30px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
#about_nmc ul li i{
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #FE5A0E;
  font-size: 16px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
#about_nmc .about-btn{
  margin-top: 40px;
  display: inline-block;
  background: #FE5A0E;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  font-family: 'Poppins';
  line-height: 54px;
  width: 295px;
  color: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
#about_nmc .about-btn: before{
  background: #252525;
}

@media screen and (max-width:470px) {
  #about_nmc{
    margin-top:40px;
  }
  #about_nmc .about-nmc-img {
    margin-top: 40px;
  }
}
/* About NMC home-page end*/

/* NMC info */
.b-border{
  position: relative;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
#nmc_info .title::after {
    position: absolute;
    content: "";
    background-color: #f7c51e;
    height: 3px;
    width: 30px;
    bottom: -1px;
    left: 0;
}
#nmc_info i{
  color: #f7c51e;
}
@media screen and (max-width:470px) {
  #nmc_info .nmc-info-div2 .col-md-6{
    padding: 0px;
  }
}
/* NMC info End */

/* about_com - com-info */
.company-info{
  min-height: 400px;
  background-color: #262626;
}
.com-info{
  color: #fff;
  text-align: center;
}
/* Company Info - com-info End*/

/* feature box */
.features .col-md-4{
  padding:0px;
}
.feature-box{
  padding:20px;
}
.icon-box{
  padding-left: 20px !important;
  display: table-cell !important;
  vertical-align: middle !important;
}
.bg-gray{
  background-color: #F6F6F6;
}
.feature-icon{
  font-size:30px;
}

/* Page Quote */
.quote .col-md-7 h2:after{
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 38px;
    height: 2px;
    background: #888888;
    margin-left: 15px;
    margin-top: 18px;
}
.quote .col-md-5 h2:after{
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 38px;
    height: 2px;
    background: #fff;
    margin-left: 15px;
    margin-top: 18px;
}
.requery-quote{
  background-color: #262626;
  width:90%;
  margin-left:5%;
  padding: 30px;
}
.requery-quote .about-btn{
  /* margin-top: 40px; */
  display: inline-block;
  background: #FE5A0E;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  font-family: 'Poppins';
  line-height: 54px;
  width: 195px;
  color: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.requery-quote .about-btn: before{
  background: #252525;
}

@media screen and (max-width:470px) {
  .quote .col-md-5{
    padding: 0px;
  }
}
/* Page Quote End */

/* Award Info */
.awards-info{
  min-height: 200px;
  background-color: #262626;
}
.nmc_awards{
  background-color: #262626;
}
.awa-info{
  color: #fff;
}
.awards-img{
  text-align:center;
  align-self: center!important;
}
.border-r{
  border-right: 1px solid #fff;
}

@media screen and (max-width:470px) {
  .nmc_awards .col-md-6{
    margin-top: 20px;
  }
  .awards-info{
    min-height: 550px;
  }
}
/* Award Info End*/

/* Products Home Page */
.products h2:after {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 38px;
    height: 2px;
    background: #888888;
    margin-left: 15px;
    margin-top: 18px;
}
.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  display:none;
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}
.owl-prev span {
    font-size: 70px;
    position: relative;
    top: -5px;
}
.owl-next span {
    font-size: 70px;
    position: relative;
    top: -5px;
}
.owl-nav button:focus {
    outline: none;
}
/* Products Home Page end*/
/* testomonial*/

/* testomonial*/
