body{
  margin:0px!important;
  padding:0px!important;

}
.container-fluid, .row{
  margin: 0px!important;
  padding: 0px!important;
}

#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background-color: #F58520;
    /* background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25) */
}
#load img{
  height: 120px;
  /* width:250px; */
}


/* #FE5A0E */
/* #f80503 */
/* h6{
    color: #a2a7ad;
}
a{
  color: #a2a7ad;
}

a:hover{
  color: #d4d8dc;
} */

.r-border-none{
  border-right: none!important;
}
.jumbotron {
margin-bottom: 0PX!important;

}

footer{
  color: #fff;
 background-color: #1c2331;
}
.teble-cell{
  display: table-cell !important;
}
.btn-primary{
  background-color: #09c!important;
  border-color: #09c!important;
}
.btn-primary:hover{
  background-color: #056d90!important;
}
.btn-hvr{
  border: 2px solid #F58520 !important;
}
.btn-hvr:hover{
  border: 2px solid #F58520;
  background: #262626 !important;
}
button:focus {
    outline: none !important;
}
.footer-copyright{
  color:  #a2a7ad;
  background-color: #161c27;
}

.white-text{
  color: #fff !important;
}

.address-space{
  float: right;
}

.paralex{
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  /* The image used */

  background: url("../../assets/images/meltonparalex.jpg") no-repeat 0 100%;;

  width: 100%;
  /* Set a specific height */
  height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.deep-purple{
  color: #a2a7ad;
  background-color: #a2a7ad;
}

.cont-speciality{
  padding-top: 60px!important;
  padding-bottom: 60px!important;
}
.text-speciality{
  padding-bottom: 30px;
}
.text-heading-small{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  color: #414e5d;
}

.bg-grey{
  background-color: #e9ecef;
  padding: 20px 0 20 0 !important;
}
.nmc-text-color{
  color: #F58520 !important;
}
.nmc-bg-color{
  background-color: #F58520 !important;
}
.bg-black{
  background-color: #262626;
}
h1, h2, h3, h4, h5{
  font-family: 'roboto', serif !important;
}
.title{
  color: #262626;
  font-weight: 600;
  font-size: 30px;
  font-family: 'Poppins', serif;
}
.title span{
  color: #F58520;
  padding-right: 10px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-style: italic;
  background: -webkit-gradient(linear, left top, right top, from(#EE2629), to(#FAB414));
  background: linear-gradient(to right, #EE2629 0%, #FAB414 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sub-title{
  color: #262626;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Poppins', serif;
  margin-top:2rem
}
p{
  font-family: 'roboto';
  font-size: 16px;
  line-height: 27px;
  color: #7E7E7E;
  text-align:justify;
  /* margin-top: 35px;
  margin-bottom: 30px; */
}
.mt-2rem{
  margin-top: 2rem;
}
.about-btn{
  /* margin-top: 40px; */
  display: inline-block;
  background: #F58520;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  font-family: 'Poppins';
  line-height: 54px;
  width: 195px;
  color: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.about-btn: before{
  background: #252525;
}
.about-btn:hover{
  background: #410048;
  color: #fff;
}
.hvr-sweep-to-right{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.hvr-sweep-to-right:hover:before{
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.hvr-sweep-to-right:before{
  background: #262626;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: #2098D1; */
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
a:hover, a:visited, a:focus, a:active {
    text-decoration: none !important;
    outline: none !important;
}

.front-sm-hr::after{
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 38px;
  height: 3px;
  background: #888888;
  margin-left: 5px;
  margin-top: 18px;
}



/* Top Logo head */
.containe {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.section-one {
  width: 40%;
  float: left;
  height: 100%;
  background: #fff;
  position: relative;
  transform: skew(25deg);
  z-index: 1;
  transition: width 0.5s;
  text-align: right;
  padding-right: 20px;
}
.section-one:before {
 content: "";
 width: 40%;
 height: 100%;
 position: absolute;
 background: #fff;
 top: 0;
 left: 0;
 transform: skew(-25deg);
 z-index: -1;
}
.section-one .col-md-9{
  padding: 0px;
}
.section-two {
  width: 60%;
  float: left;
  height: 100%;
  /* background: #270D31; */
  background: #181818 ;
  transform: skew(25deg);
  position: relative;
  z-index: 1;
  transition: width 0.5s;

}
.section-two:after {
  content: "";
  width: 60%;
  height: 100%;
  position: absolute;
  background: #181818 ;
  top: 0;
  right: 0;
  transform: skew(-25deg);
  z-index: -1;
}
.content {
  transform: skew(-25deg);
  color: #fff;
  height: 100%;
}
.com-name{
  font-size: 22px;
  font-weight: 800;
  color:#20699C;
}
.section-two .row{
  height: 100%;
}
.section-two .col-md-4, .section-two .col-md-1{
  padding:0px;
}
.section-two .span1{
  color: #F58520;
  font-size: 14px;
  letter-spacing: .01em;
  font-family: 'Rubik';
  font-weight: 600;
}
.section-two .span2{
  font-family: 'Poppins';
  font-weight: 500;
  letter-spacing: .1em;
  color: #ffffff;
  font-size: 16px;
}
.nav-contact-logo i{
  font-size: 30px;
  color: #fff;
  line-height: 1em;
  vertical-align: text-top;
}
.logo-mobile{
  display: none;
}
.logo-desktop{
  display: block;
}
.logo-desktop .col-md-3{
height: 150px;
}
.logo-desktop img{
  margin-top: 10px;
  height: 130px;
}
.card{
  width: 20rem;
  margin:5px!important;
}

.card-img-top{
  padding-top: 5px;
  min-height: 250px;
  min-width: 150px;
  cursor: zoom-in;
}
.card-awards{
  width: 100%;
  margin-left: 0px!important;
  padding-top: 0px!important;
}
.card-awards .card-img-top{
    padding-top: 0px;
    cursor: pointer;    
}
.product-table td{
  font-size: 14px;
  text-align: left;
}
.product-table tr td:first-child{
  font-weight: 500;

}

.card-title{
  text-align: center;
  background-color: #09c;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* .hv-img img{
  display: block;
 border: 1px solid #000;
 width: 150%;
 height: auto;
 position: absolute;
 top: 2em;
 left: 3em;
 padding: 0;
 margin: 0;
 z-index: 1;
} */
.hide-img{
  display: none;
}
#cont-container{
  margin-bottom: 80px;
}

.certificate{
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.policy{
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.img-cert{
  width: 320px;
  height: 450px;
}
.pilicy-ul{
  text-align: justify;
  line-height: 27px;
  font-family: 'Rubik';
  font-size: 16px;
  font-weight: 300;
}
.client-img{
  width: 100%;
  height: auto;
  /* border: 1px solid #D3D3D3!important; */
  margin-bottom: 25px;
}
#clients{
  text-align: center;
}

.policy p{
  font-size: 18px;
}
.pilicy-ul h6{
  font-family: 'roboto', serif !important;
  font-size:24px;
  padding-top: 8px;
  padding-bottom: 0px;
}
.ml-45{
  margin-left: 40px;
}
.form-control{
  border-radius: 0px!important;
}
.btn-contact{
  background-color: #F58520!important;
  border-color: #F58520!important;
  border-radius: 0px!important;
}
.btn-contact:hover,.btn-contact:focus{
  box-shadow: 0 0 0 0.2rem rgba(245,132,45,.5)!important;
  background-color: #F58520!important;
}
.address p{
  margin-left: 20%;
  text-align: left;
  line-height: 10px!important;
}
.address h4, .address h5{
  margin-left: 20%;
}
#send-mail h3{
  text-align: left;
  padding-bottom: 10px;
}
.alert{
  display: none;
}
.parallax {
  /* The image used */
  background-image: url("../images/paralex.jpg");

  /* Set a specific height */
  height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sub-page-title span{
  color: #FE5A0E;
  /* font-family: 'Playfair Display', serif; */
  font-weight: bold;
  font-style: italic;
  /* background: -webkit-gradient(linear, left top, right top, from(#f80503), to(#ff7d09)); */
  background: linear-gradient(to right, #f80503 0%, #ff7d09 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.reg-office{
  margin-top: 30px;
  line-height: 32px;
  padding-bottom: 10px;
}
.form-group{
  margin-bottom: 1.5rem;
}
.logo-footer{
  height: 90%;
}
.form-control{
  margin-bottom: 1rem!important;
}
#product-page{
  padding-bottom: 50px;
}
.border-light{
  border: 1px solid #D3D3D3!important;
  margin-bottom: 2px;
}
.grey-co{
  color:#acaeb1!important;
}
@media screen and (max-width:470px) {
  .containe {
    height: 60px;
  }
  .mob-cen{
    text-align: center!important;
  }
  .footer-copyright{
    padding-left: 5px;
    padding-right: 5px;
  }

  .logo-desktop{
    display: none;
  }
  .address p{
    line-height: 27px!important;
    margin-bottom: 0px!important;
  }
  #contact-head .sub-page-title{
    padding-top: 20px!important;
    margin-bottom: 10px!important;
  }


  .logo-mobile{
    display: block;
  }
  .logo-mobile img{
    height: 100%;
  }
  .top-contact-desctop{
    display: none;
  }
  .nav-contact-logo i{
    font-size: 15px;
    line-height: 1em;
  }
  .in-line{
    display: table-cell;
    padding-left: 10px;
  }
  .top-contact-mobile .nav-contact-logo .fa-phone, .top-contact-mobile .nav-contact-logo .fa-envelope{
    padding-top: 20px;
  }
  .section-two .top-contact-mobile .span1{
    font-size: 10px;
  }
  .section-two .span2{
    font-weight: 600;
    font-size: 14px;
  }
  .col-md-4{
    padding-left: 0px;
    padding-right: 0px;
  }

  .address p{
    margin-left: 0%;
    text-align: center;
  }
  #send-mail h3{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .client-img{
    text-align: center;
    width: 80%;
    height: auto;
    /* border: 1px solid #D3D3D3!important; */
    margin-bottom: 10px;
  }
  .certificate{
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}
/* Top Logo head end*/

/* Navbar start */
.top-nav .navbar{
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}
.top-nav {
  position: relative;
  background-color: #f9f9f9;
  background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  margin-bottom: -32px;
  margin-top: -32px;
  text-align: center;
  z-index: 1;
  width:auto;
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  min-height: 60px;
  padding: 0px !important;
  /* right:12%;
  top: 125px;
  position: absolute;
  z-index: 1; */
}

.dropdown-item:active {
    color: #f58520!important;
    background-color: #fff!important;
  }
  .dropdown-item:hover {
    color: #f58520!important;
  }
  .dropdown-menu{
    width: 180px;
  }
.top-nav .navbar{
  padding: 0px !important;
  min-height: 60px;
}
.top-nav .collapse, .top-nav .collapse ul, .top-nav .collapse ul li, .top-nav .collapse ul li a{
  min-height: 40px;
}
.top-nav .collapse ul li {
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.top-nav .navbar-nav{
  width:100% !important;
}
.top-nav .navbar-nav .active .nav-link{
  color: #F58520;
  /* text-decoration: underline !important; */
}
.top-nav .navbar-nav .active{
  border-bottom: 5px solid #F58520;
}
.top-nav .navbar-nav .nav-item:hover .nav-link{
  color: #F58520 !important;
  /* text-decoration: underline !important; */
}
.top-nav .navbar-nav .nav-item:hover{
  border-bottom: 5px solid #F58520;
}
.top-nav .navbar-nav .nav-item:hover .nav-link{
  color: #fff;
  font-weight: 600;
}

.top-nav .navbar-nav .active a{
  color: #F58520;
  font-weight: 600;
}

.top-nav a.nav-link{
  border-right: 0.5px solid #a2a7ad;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}
.top-nav .navbar .nav-link{
  padding:0px 20px 0px 20px !important;
  font-size: 18px!important;
  font-family: 'Poppins';
  color: rgba(0,0,0,.9);
}
.top-nav .navbar .nav-bg{
  background-color: #F58520;
}
.top-nav .navbar .nav-bg a{
  color: #fff;
}
.top-nav .navbar .nav-bg:hover a{
  color: #fff !important;
  font-weight: 600  !important;
}
.top-nav .navbar .nav-bg:hover{
  color: #fff  !important;
  font-weight: 600  !important;
}
.top-nav .navbar .active .nav-bg{
  color: #fff  !important;
  font-weight: 600  !important;
}


/* .top-nav .navbar-nav .quote{
  background-color: #F58520;
}
.top-nav .navbar-nav .quote .nav-link{
  color: #fff !important;
} */
.mob-nav{
  display:none;
}
.quote-btn-li{
  padding:0px !important;
}
.quote-btn{
  display: inline-block;
  background: #F58520;
  font-size: 16px;
  text-align: center;
  font-family: 'Poppins';
  height:100%;
  line-height: 54px;
  color: #fff !important;
  /* -webkit-transition: all .4s ease;
  transition: all .4s ease; */
}
.quote-btn:hover {
  background-color: #000;
  /* transform: rotate(90deg); */
}
@media screen and (max-width: 933px){
  .top-nav {
      width: 470px;
  }
}

@media screen and (max-width:470px) {
  .top-nav {
    display:none;
  }
  .mob-nav{
    display:block;
  }
  .mob-nav li{
    height: 45px;
    padding-left:10px;
  }
  .mob-nav .active{
    background-color: #F58520;
  }
  .mob-nav .active .nav-link{
    color: #fff !important;
    font-weight: 600;
  }
  .mob-nav .navbar .nav-link{
    /* padding:0px 20px 0px 20px !important; */
    font-size: 16px!important;
    font-family: 'Poppins';
    color: rgba(0,0,0,.9);
  }
}
/* Navbar end */

/* Slider - Banner Start */
#carouselExampleIndicators img{
  height: 400px;
}
@media screen and (max-width:470px) {
  #carouselExampleIndicators img{
    height: 300px;
  }
}
.carousel-control-next, .carousel-control-prev{
  top:40px !important;
}
/* @media screen and (min-width: 1300px){
  #carouselExampleIndicators img{
    height: 600px !important;
  }
} */
/* Slider - Banner End */

/* Service Box Start */
/* @media (min-width: 1200px){
  .service-box2 {
      max-width: 1140px;
  }
} */
/* .service-box2{
  margin-left: auto !important;
  margin-right: auto !important;
} */
.service-box{
  position: relative;
  margin-top: -62px;
  text-align: center;
  z-index: 155;
  width:auto;
  margin-left: auto;
  margin-right: auto;
}
.service-box .box{
  position: relative;
  /* width: 250px; */
  height: 200px;
  background: #000;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.service-box .box .img-box{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.service-box .box .img-box img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.service-box .box:hover .img-box img{
  opacity: 0;
}
.service-box .box .service-content{
  position: absolute;
  bottom: 10px;
  left: 15%;
  width: 70%;
  height: 40px;
  background: #fff;
  transition: 250ms;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}
.service-box .box:hover .service-content{
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #000;
  border-top: 4px solid #F58520;
  padding: 35px;
}
.service-box .box .service-content h3{
  margin: 0;
  padding: 0;
  font-size: 20px;
  transition: 150ms;
}
.service-box .box:hover .service-content h3{
  color: #fff;
}
.service-box .box .service-content p{
  margin: 10px 0 0;
  padding: 0;
  opacity: 0;
  line-height: 1.5em;
  transition: 0.5s;
  text-align: justify;
}
.service-box .box:hover .service-content p{
  opacity: 1;
  transition-delay: 0.5s;
  color: #fff;
}
/* .service-box .image {
  opacity: 1;
  display: block;
  width: 250px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  height:180px;
}

.service-box .middle {
  opacity: 0;
  position: absolute;
  width:92%;
  height:100%;
  top: 0px;
  left: 4%;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  transition: .5s;
  position: absolute;
  transition: all .4s ease-in-out;
  -webkit-transform: translateY(-40%);
  transform: translateY(-40%);
}
.service-box .middle h3, .service-box .middle p{
  color: #fff;
}
.service-box .col-md-4:hover img {
  opacity: 1;
  background: rgba(0, 0, 0, 0.8);
}

.service-box .col-md-4:hover .middle {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
  border-top: 5px solid #F58520;
  transform: translateY(0);
}

.service-box .text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
} */

@media screen and (max-width: 470px) {
  #service_box{
    display: none !important;
  }
}
/* Service Box end */

/* About NMC home-page */
.about-nmc{
  padding-top:100px;
  padding-bottom: 50px;
}
/* #about_nmc h2:after {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 38px;
    height: 2px;
    background: #888888;
    margin-left: 5px;
    margin-top: 18px;
} */
#about_nmc ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
#about_nmc ul li{
  font-family: 'Rubik';
  color: #7E7E7E;
  position: relative;
  padding-left: 30px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
#about_nmc ul li i{
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #F58520;
  font-size: 16px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
#about_nmc .about-btn{
  margin-top: 40px;
  display: inline-block;
  background: #F58520;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  font-family: 'Poppins';
  line-height: 54px;
  width: 295px;
  color: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
#about_nmc .about-btn:hover{
  background: #410048;
}
/* #about_nmc .about-btn: before{
  background: #252525;
} */

@media screen and (max-width:470px) {
  #about_nmc{
    margin-top:40px;
  }
  #about_nmc .about-nmc-img {
    margin-top: 40px;
  }
}
/* About NMC home-page end*/

/* NMC info */
.b-border{
  position: relative;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
#nmc_info{
  padding: 50px 0 80px 0;
}
#nmc_info .title::after {
    position: absolute;
    content: "";
    background-color: #f7c51e;
    height: 3px;
    width: 30px;
    bottom: -1px;
    left: 0;
}
#nmc_info i{
  color: #f7c51e;
}
@media screen and (max-width:470px) {
  #nmc_info .nmc-info-div2 .col-md-6{
    padding: 0px;
  }
}
/* NMC info End */

/* about_com - com-info */
.company-info{
  min-height: 400px;
  background: url("../images/about-com-bg.jpg") ;
  background-size: cover;
  /* background-color: #262626; */
}
.com-info{
  color: #fff;
  text-align: center;
  font-family: 'Rubik', serif;
  letter-spacing: 0.1rem;
  line-height:3rem;
}
.company-info .fa-quote-left {
  color: #FE5A0E;
  font-size: 20px;
  margin-bottom: 10px;
  position: relative;
  left: -5px;
  bottom: 20px;
}
.company-info .fa-quote-right {
  color: #FE5A0E;
  font-size: 20px;
  margin-bottom: 10px;
  position: relative;
  left: 5px;
  bottom: 20px;
}
.company-info .com-info span{
  color: #F58520;
  padding-right: 10px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-style: italic;
  background: -webkit-gradient(linear, left top, right top, from(#EE2629), to(#FAB414));
  background: linear-gradient(to right, #EE2629 0%, #FAB414 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Company Info - com-info End*/

/* feature box */
.features{
  padding: 100px 0 50px 0;
}
.features .col-md-4{
  padding:0px;
}
.feature-box{
  padding:20px;
}
.icon-box{
  padding-left: 20px !important;
  display: table-cell !important;
  vertical-align: middle !important;
}
.icon-box h3{
  font-family: 'Poppins', serif;
  font-size:20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}
.icon-box p{
  margin-top :5px;
  margin-bottom: 0px;
  text-align: center;
  color: #000;
}
.bg-gray{
  background-color: #F6F6F6;
}
.feature-icon{
  font-size:30px;
}

/* Page Quote */
.quote{
  padding: 50px 0 60px 0;
}
.quote .col-md-7 h2:after{
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 38px;
    height: 2px;
    background: #888888;
    margin-left: 15px;
    margin-top: 18px;
}
.quote .col-md-5 h2:after{
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 38px;
    height: 2px;
    background: #fff;
    margin-left: 15px;
    margin-top: 18px;
}
.quote .sub-title{
  margin-top: 1rem;
}
.quote .sub-title span{
  font-family: 'Rubik';
  font-size: 16px;
  line-height: 27px;
  color: #7E7E7E;
  font-weight: 300;
}
.quote .fa-check{
  color: #f7c51e;
}
.requery-quote{
  background-color: #262626;
  width:90%;
  margin-left:5%;
  padding: 30px;
}
.requery-quote .about-btn{
  /* margin-top: 40px; */
  display: inline-block;
  background: #F58520;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  font-family: 'Poppins';
  line-height: 54px;
  width: 195px;
  color: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.requery-quote .about-btn: before{
  background: #252525;
}

@media screen and (max-width:470px) {
  .quote .col-md-5{
    padding: 0px;
  }
}
/* Page Quote End */

/* Award Info */
.awards-info{
  min-height: 400px;
  background-color: #262626;
}
.nmc_awards{
  background-color: #262626;
  margin-top: 100px !important;
}
.awa-info{
  color: #fff;
}
.awards-img{
  text-align:center;
  align-self: center!important;
}
.border-r{
  border-right: 1px solid #fff;
  /* height: 100px;
  width: 80px;
  position: relative; */
}

@media screen and (max-width:470px) {
  .nmc_awards .col-md-6{
    margin-top: 20px;
  }
  .awards-info{
    min-height: 550px;
  }
  .nmc_awards .border-r{
    border-right: none !important;
  }
}
/* Award Info End*/

/* Products Home Page */
.products{
  padding-top: 50px;
  padding-bottom: 10px!important;
}

.products h2:after {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 38px;
    height: 2px;
    background: #888888;
    margin-left: 15px;
    margin-top: 18px;
}
.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  display:none;
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}
.owl-prev span {
    font-size: 70px;
    position: relative;
    top: -5px;
}
.owl-next span {
    font-size: 70px;
    position: relative;
    top: -5px;
}
.owl-nav button:focus {
    outline: none;
}
/* Products Home Page end*/
/* Footer start*/
.social-footer{
  background-color: #09c;
  min-height: 60px;
}
.social-footer .container, .social-footer .row{
  min-height: 60px;
}
.social-footer h6{
  font-size: 1rem;
  font-family: 'Poppins', serif !important;
}
.footer-nmc{
  font-size: 18px;
  text-align: left;
  color: #fff;
}
.contact-footer{
  color:  #a2a7ad;
  text-align: left;
  margin-bottom: 5px;
}
.link-footer{
  text-align: justify ;
  margin-bottom: 5px;
}
.link-footer a{
  color:  #a2a7ad;
}
.footer-products, .footer-links, .footer-company{
  margin-bottom: 20px;
}
.nmc-footer hr{
  margin-bottom: 10px;
  margin-top: 0px !important;
}
@media screen and (max-width:470px) {
  .social-footer{
    padding: 10px 0px 10px 0px;
  }
  .social-footer .col-md-6{
    padding: 0px;
    text-align: center;
  }
  .footer-nmc{
    text-align: center;
  }
  .contact-footer{
    text-align: justify;
  }
  .link-footer{
    text-align: center ;
    margin-bottom: 5px;
    color:  #a2a7ad;
  }
  .footer-products, .footer-links, .footer-company{
    margin-bottom: 20px;
  }
}
/* Footer end*/

/* pages common */
.sub-page-heading{
  min-height: 120px;
}
.sub-page-title{
  padding-top: 50px;
  text-align: center;
  font-weight: 800;
}
.sub-page-title span{
  /* line-height: 48px; */
  border-bottom: 3px solid rgba(245, 133, 32,1);
}
.about-us-com{
  margin-top: 50px;
  padding-bottom: 50px;
}
/* pages common end */
/* About Us Page */
/* preface */
  .preface {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .preface .col-md-4{
    text-align: center;
    padding-right: 35px;
    padding-left: 35px;
  }
  .preface .col-md-4 .card{
    text-align: center;
    border: none;
  }
  .preface .card-1, .preface .card-3{
    margin-top: 70px;
  }
  .preface .card img{
    width: 70% !important;
    height: 200px;
    margin-top: 2rem;
  }
  .preface .card .card-title{
    text-align: center;
    margin: 0;
    background: none;
    color: #000;
    padding: 0;
  }
  .preface .card span{
    font-size: 14px;
  }
  .preface .preface-content{
    margin-top: 30px;
  }
  .preface .preface-content p{
    text-indent: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (max-width:470px) {
    .preface{
      margin-top: 0px;
    }
    .preface .col-md-4{
      margin-top:10px;
    }
    .preface .card-2{
       order: 1;
    }
    .preface .card-1{
       order: 2;
    }
    .sub-page-heading{
      min-height: 90px;
    }
    .preface .card-3{
       order: 3;
    }
    .preface-content p{
      padding: 0 10px 0 10px !important;
    }
  }
/* preface end */

/* vision start */
.vision{
  margin: 50px 0px;
}
.vision .card{
  box-shadow: 2px 2px 4px #888;
  width: 100% !important;
}
.vision .card .title{
  padding-left: 30px;
}
.vision .card img{
  width: 25% !important;
  height: 80px;
  margin-top: 2rem;
}

@media (max-width:470px) {
  .vision{
    margin: 30px 0px;
  }
  .vision .vision-content{
    margin-bottom: 30px;
  }
}
/* vision end */

/* Timeline Start*/
  .journey{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .journey .title{
    padding-left: 50px;
  }
  .timeline{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
    /* width: 1000px; */
    box-sizing: border-box;
  }
  .timeline ul{
    margin: 0;
    padding: 0;
  }
  .timeline:before{
    content: '';
    position: absolute;
    left: 50%;
    /* bottom: 0; */
    width: 2px;
    height: 90%;
    background: #c5c5c5;
  }
  .timeline ul li{
    list-style: none;
    position: relative;
    width: 50%;
    padding: 10px 40px;
    box-sizing: border-box;
  }
  .timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
  }
  .timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
  }
  .timeline ul li:nth-child(odd) p{
    text-align: right;
  }
  .timeline ul li:nth-child(even) p{
    text-align: left;
  }
  .timeline .timeline-content{
    /* padding-bottom: 20px; */
  }
  .timeline ul li:nth-child(odd):before{
    content: '';
    position: absolute;
    top: 24px;
    right: -7px;
    width: 12px;
    height: 12px;
    background: rgba(39, 13, 49,0.9);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(39, 13, 49,0.3)
  }
  .timeline ul li:nth-child(even):before{
    content: '';
    position: absolute;
    top: 24px;
    left: -5px;
    width: 12px;
    height: 12px;
    background: rgba(39, 13, 49,0.9);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(39, 13, 49,0.3)
  }
  .timeline ul li h3{
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: rgba(245, 133, 32,1);
  }
  timeline ul li p{
    margin: 10px 0 0;
    padding: 0;
  }
  .timeline ul li .time h4{
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
  .timeline ul li:nth-child(odd) .time{
    position: absolute;
    top: 12px;
    right: -140px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(39, 13, 49,0.8);
    color: #fff;
    border-radius: 18px;
    /* box-shadow: 0 0 0 3px rgba(39, 13, 49,0.4); */
    min-width: 120px;
    text-align: center;
  }
  .timeline ul li:nth-child(even) .time{
    position: absolute;
    top: 12px;
    left: -140px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(39, 13, 49,0.8);
    color: #fff;
    border-radius: 18px;
    /* box-shadow: 0 0 0 3px rgba(39, 13, 49,0.4); */
    min-width: 120px;
    text-align: center;
  }

  @media (max-width:1000px){
    .timeline{
      width:100%;
    }
  }
  @media (max-width:767px){
    .journey .title{
      padding-left: 10px;
      text-align: left !important;
      margin-bottom: 30px;
    }
    .journey .title span{
      width:100%;
    }
    .timeline{
      width:100% !important;
      padding-bottom: 0px;
    }
    .journey{
      margin-bottom: 0px;
      margin-top: 30px;
    }
    .timeline:before{
      left:20px;
      height: 95%;
      top: 0;
    }
    .timeline li:nth-child(odd),
    .timeline li:nth-child(even){
      width:100%;
      text-align: left !important;
      padding-left: 50px;
      padding-bottom: 50px;
    }
    .timeline li:nth-child(odd):before,
    .timeline li:nth-child(even):before{
      top: -18px !important;
      left: 15px !important;
    }
    .timeline li:nth-child(odd) .time,
    .timeline li:nth-child(even) .time{
      top: -30px !important;
      left: 50px !important;
      right: inherit !important;
    }
    .timeline .last-child{
      padding-bottom: 30px !important;
    }
    .timeline .timeline-content p{
      text-align: left !important;
    }
  }
/* Timeline End*/

/* Performance start */
.performance{
  margin-bottom: 50px;
  /* background-color: rgba(39, 13, 49,0.2); */
}
.performance .title{
  text-align: center;
}
.performance .col-md-6{
  padding: 0;
}
.performance img{
  width: 60%;
  /* padding: 20px; */
  /* height: 500px; */
  /* margin-bottom: 40px; */
  /* padding-left: 20px; */
}
.performance .nav-link:hover{
  border-bottom: 4px solid !important;
}
/* .performance .img1{
  padding-right: 20px;
}
.performance .img2{
  padding-left: 20px;
} */
/* Tabs*/
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #000;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
	/* background: #007b5e; */
    color: #000;
}
#tabs h6.section-title{
    color: rgba(39, 13, 49,1);
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: rgba(39, 13, 49,1);
    background-color: transparent;
    border-color: transparent transparent rgba(39, 13, 49,1);
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: rgba(39, 13, 49,0.9);
    font-size: 20px;
}

@media (max-width:470px){
  .performance .img1{
    border-right: none;
  }
  .performance img{
    width: 100%;
  }
  .performance{
    margin-bottom: 30px;
  }
  #tabs .nav-tabs .nav-link {
      font-size: 14px;
      padding-right: 0;
      padding-left: 0;
  }
}
/* Performance end */

/* Infrastructure */
.section{
  padding: 100px 0;
}
.infra{
  /* padding: 50px 0; */
}
.infra .col-md-6 .title{
  margin-top: 0;
}
.infra-sub-title{
  font-size: 18px;
  color: #7E7E7E;
}
.infra-info .fa{
  color: #7E7E7E;
}
.infra-info .paragraph{
  font-family: 'Rubik';
  font-size: 16px;
  line-height: 27px;
  color: #7E7E7E;
  text-align: justify;
}
.infra-img-div img{
  height: 400px;
}
@media (max-width:470px){
  .section{
    padding: 40px 0;
  }
  .para-img{
    display: none;
  }
  .infra .second-div{
    padding-top: 40px;
  }
  .infra-img-div img{
    height: 300px;
  }
}
/* Infrastructure end */
